<%- include('../../partials/header.ejs') %>
<body>
   <header>
    <%- include('../../partials/navbar.ejs')%>
   </header>
   <div class="container">
       <div class="card mt-4">
           <div class="card-header">
            <h2>Atualizar artigo</h2>
           </div>
           <div class="card-body">
            <form action="/admin/articles/update" class="form-group" method="POST">
                <label for="title">Título:</label>
                
                <input type="hidden" class="form-control" id="id" name="id" value="<%= article.id%>">
                <input type="text" class="form-control" id="title" name="title" value="<%= article.title%>">
                <br>
                <label for="title">Mensagem:</label>
                <textarea name="body" id="body" class="form-control" cols="30" rows="10">
                    
                </textarea>
                <label for="category">Selecione a categoria:</label>
               
                <select name="category" id="category" class="form-control">
                    <% categories.forEach((category)=>{ %>
                       
                        <% if(category.id == article.categoryId){ %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% }else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>

                       
                    <% }) %>
                </select>
               
                <br>
                <button class="btn btn-primary">Atualizar</button>
            </form>
           </div>
       
       
       </div>
       
   </div>

   <div id="content" class="d-none">
    <%- article.body %>
   </div>
   
</body>


<%- include('../../partials/footer.ejs')%>

<%- include('../../partials/footer.ejs')%>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#body",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () =>{
            tinymce.get("body").setContent($("#content").html())
        }
    })
</script>