<%- include('./partials/header.ejs') %>
<body>
  <header>
    <%- include('./partials/homenavbar.ejs')%>
  </header>

  <div class="container mt-4">
    <% articles.forEach(article =>{ %>

    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-primary">Ver artigo</a>
      </div>
    </div>
    <br />
    <% }) %>

    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <a href="/articles/page/2" class="">Next ></a>
      </div>
    </div>
    <hr />
  </div>
</body>

<%- include('./partials/footer.ejs')%>
